.section {
    padding: 100px 20px;
    background-color: #0a0a0a;
    color: #00ffcc;
    min-height: 100vh;
    text-align: center;
  }
  
  .baslik {
    font-size: 3rem;
    margin-bottom: 60px;
    border-bottom: 2px solid #00ffcc;
    display: inline-block;
    padding-bottom: 10px;
  }
  .unvan {
    font-size: 0.95rem;
    color: #00ffcc;
    margin-bottom: 12px;
    font-weight: 500;
  }
  
  
  .kartlar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: stretch;
    padding: 0 20px;
  }
  
  .kart {
    background-color: #1a1a1a;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .kart:hover {
    transform: translateY(-6px);
  }
  
  .resimKapsayici {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .kartIcerik {
    padding: 20px;
    text-align: left;
  }
  
  .kartIcerik h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f0f0f0;
  }
  
  .kartIcerik p {
    color: #ccc;
    font-size: 1rem;
    line-height: 1.5;
  }
  